# For AIGC
[submodule "dl_exam/aigc/clones/stablediffusion"]
	path = dl_exam/aigc/clones/stablediffusion
	url = https://github.com/Stability-AI/stablediffusion.git
[submodule "dl_exam/aigc/clones/stable-diffusion-webui"]
	path = dl_exam/aigc/clones/stable-diffusion-webui
	url = https://github.com/AUTOMATIC1111/stable-diffusion-webui


# For BASE


# For NLP


# For RL


# For VLM 
[submodule "dl_exam/vlm/clones/CLIP"]
	path = dl_exam/vlm/clones/CLIP
	url = https://github.com/openai/CLIP.git
[submodule "dl_exam/vlm/clones/open_clip"]
	path = dl_exam/vlm/clones/open_clip
	url = https://github.com/mlfoundations/open_clip.git
[submodule "dl_exam/vlm/clones/BLIP"]
	path = dl_exam/vlm/clones/BLIP
	url = https://github.com/salesforce/BLIP
[submodule "ml-mobileclip"]
	path = dl_exam/vlm/clones/ml-mobileclip
	url = https://github.com/apple/ml-mobileclip.git
[submodule "dl_exam/vlm/clones/CLIP4Clip"]
	path = dl_exam/vlm/clones/CLIP4Clip
	url = https://github.com/ArrowLuo/CLIP4Clip.git
[submodule "dl_exam/vlm/clones/ViLT"]
	path = dl_exam/vlm/clones/ViLT
	url = https://github.com/dandelin/ViLT.git
[submodule "dl_exam/vlm/clones/PointCLIP"]
	path = dl_exam/vlm/clones/PointCLIP
	url = https://github.com/dandelin/PointCLIP.git
[submodule "dl_exam/vlm/clones/VLM-R1"]
	path = dl_exam/vlm/clones/VLM-R1
	url = https://github.com/om-ai-lab/VLM-R1.git
[submodule "dl_exam/vlm/clones/Griffon"]
	path = dl_exam/vlm/clones/Griffon
	url = https://github.com/jefferyZhan/Griffon.git
[submodule "dl_exam/vlm/clones/LLaVA-RLHF"]
	path = dl_exam/vlm/clones/LLaVA-RLHF
	url = https://github.com/llava-rlhf/LLaVA-RLHF.git


# For VLA
[submodule "dl_exam/vla/clones/GraspVLA"]
	path = dl_exam/vla/clones/GraspVLA
	url = https://github.com/PKU-EPIC/GraspVLA.git
[submodule "dl_exam/vla/clones/SimpleVLA-RL"]
	path = dl_exam/vla/clones/SimpleVLA-RL
	url = https://github.com/PRIME-RL/SimpleVLA-RL
[submodule "dl_exam/vla/clones/RoboticsDiffusionTransformer"]
	path = dl_exam/vla/clones/RoboticsDiffusionTransformer
	url = https://github.com/thu-ml/RoboticsDiffusionTransformer.git

