# For 3D
[submodule "dl_exam/3d/clones/dust3r"]
	path = dl_exam/3d/clones/dust3r
	url = https://github.com/naver/dust3r
[submodule "dl_exam/3d/clones/vggt"]
	path = dl_exam/3d/clones/vggt
	url = https://github.com/facebookresearch/vggt.git
[submodule "dl_exam/3d/clones/Depth-Anything-3"]
	path = dl_exam/3d/clones/Depth-Anything-3
	url = https://github.com/ByteDance-Seed/Depth-Anything-3
[submodule "dl_exam/3d/clones/map-anything"]
	path = dl_exam/3d/clones/map-anything
	url = https://github.com/facebookresearch/map-anything.git


# For AIGC
[submodule "dl_exam/aigc/clones/stablediffusion"]
	path = dl_exam/aigc/clones/stablediffusion
	url = https://github.com/Stability-AI/stablediffusion.git
[submodule "dl_exam/aigc/clones/stable-diffusion-webui"]
	path = dl_exam/aigc/clones/stable-diffusion-webui
	url = https://github.com/AUTOMATIC1111/stable-diffusion-webui
[submodule "dl_exam/aigc/clones/diffusers"]
	path = dl_exam/aigc/clones/diffusers
	url = https://github.com/huggingface/diffusers
[submodule "dl_exam/aigc/clones/TRELLIS.2"]
	path = dl_exam/aigc/clones/TRELLIS.2
	url = https://github.com/microsoft/TRELLIS.2


# For BASE
[submodule "dl_exam/base/clones/transformers"]
	path = dl_exam/base/clones/transformers
	url = https://github.com/huggingface/transformers.git
[submodule "dl_exam/base/clones/peft"]
	path = dl_exam/base/clones/peft
	url = https://github.com/huggingface/peft


# For NLP
[submodule "dl_exam/nlp/clones/vllm"]
	path = dl_exam/nlp/clones/vllm
	url = https://github.com/vllm-project/vllm.git
[submodule "dl_exam/nlp/clones/DeepLearningExamples"]
	path = dl_exam/nlp/clones/DeepLearningExamples
	url = https://github.com/NVIDIA/DeepLearningExamples.git
[submodule "dl_exam/nlp/clones/LLaVA-RLHF"]
	path = dl_exam/nlp/clones/LLaVA-RLHF
	url = https://github.com/llava-rlhf/LLaVA-RLHF.git
[submodule "dl_exam/nlp/clones/FasterTransformer"]
	path = dl_exam/nlp/clones/FasterTransformer
	url = https://github.com/ImanHosseini/FasterTransformer.git
[submodule "dl_exam/nlp/clones/UER-py"]
	path = dl_exam/nlp/clones/UER-py
	url = https://github.com/dbiir/UER-py.git


# For RL
[submodule "dl_exam/rl/clones/baselines"]
	path = dl_exam/rl/clones/baselines
	url = https://github.com/openai/baselines.git
[submodule "dl_exam/rl/clones/cleanrl"]
	path = dl_exam/rl/clones/cleanrl
	url = https://github.com/vwxyzjn/cleanrl.git
[submodule "dl_exam/rl/clones/tianshou"]
	path = dl_exam/rl/clones/tianshou
	url = https://github.com/thu-ml/tianshou.git
[submodule "dl_exam/vla/clones/lerobot"]
	path = dl_exam/vla/clones/lerobot
	url = https://github.com/huggingface/lerobot
[submodule "dl_exam/rl/clones/stable-baselines3"]
	path = dl_exam/rl/clones/stable-baselines3
	url = https://github.com/DLR-RM/stable-baselines3.git
	

# For VLM 
[submodule "dl_exam/vlm/clones/CLIP"]
	path = dl_exam/vlm/clones/CLIP
	url = https://github.com/openai/CLIP.git
[submodule "dl_exam/vlm/clones/open_clip"]
	path = dl_exam/vlm/clones/open_clip
	url = https://github.com/mlfoundations/open_clip.git
[submodule "dl_exam/vlm/clones/BLIP"]
	path = dl_exam/vlm/clones/BLIP
	url = https://github.com/salesforce/BLIP
[submodule "dl_exam/vlm/clones/VLM-R1"]
	path = dl_exam/vlm/clones/VLM-R1
	url = https://github.com/om-ai-lab/VLM-R1.git


# For VLA
[submodule "dl_exam/vla/clones/RoboticsDiffusionTransformer"]
	path = dl_exam/vla/clones/RoboticsDiffusionTransformer
	url = https://github.com/thu-ml/RoboticsDiffusionTransformer.git
[submodule "dl_exam/vla/clones/robotics_transformer"]
	path = dl_exam/vla/clones/robotics_transformer
	url = https://github.com/google-research/robotics_transformer
[submodule "dl_exam/vla/clones/dexbotic"]
	path = dl_exam/vla/clones/dexbotic
	url = https://github.com/Dexmal/dexbotic
[submodule "dl_exam/vla/clones/openvla-oft"]
	path = dl_exam/vla/clones/openvla-oft
	url = https://github.com/moojink/openvla-oft
